[submodule "week1"]
	path = week1
	url = git@github.com:vividsystem/keebmaster.git
	branch = master
[submodule "week2"]
	path = week2
	url = git@github.com:vividsystem/wisort.git
	branch = master
[submodule "week3"]
	path = week3
	url = git@github.com:vividsystem/witchat.git
	branch = master
[submodule "week4"]
	path = week4
	url = git@github.com:vividsystem/pos-todo.git
	branch = master
